#Cargo el DF

In [31]:
import pandas as pd
import numpy as np
import seaborn as sns
df=pd.read_csv("train.csv")
print (df.shape)

(957919, 120)

#Reviso si hay datos faltantes

In [22]:
k = df.isna().sum()
k[k!=0]

#SI HAY DATOS FALTANTES PERO NO SON SUFICIENTES PARA CUMPLIR CON EL 5%

f1      15247
f2      15190
f3      15491
f4      15560
f5      15405
        ...
f114    15438
f115    15559
f116    15589
f117    15407
f118    15212
Length: 118, dtype: int64

#ELIMINO EL 5% DE LOS DATOS DE LAS COLUMNAS F1, F2 Y F3

In [23]:
dfAux=df.copy()
columna_seleccionada = ["f1","f2","f3"]
for col in columna_seleccionada:
  datosEliminar=int(len(dfAux[col])*0.05)
  num_filas = len(dfAux)
  # Genero una lista de índices aleatorios a lo largo de la longitud de la columna
  indices_aleatorios = np.random.choice(num_filas, size=datosEliminar)
  for indice in indices_aleatorios:
      dfAux.at[indice, col] = np.nan

#Verifico que ya hay mas datos faltantes

In [24]:
k = dfAux.isna().sum()
k[k!=0]

f1      61176
f2      61159
f3      61368
f4      15560
f5      15405
        ...
f114    15438
f115    15559
f116    15589
f117    15407
f118    15212
Length: 118, dtype: int64

#Miro si hay columnas categóricas

In [25]:
ccols = [i for i in dfAux.columns if not i in dfAux._get_numeric_data()]
print (ccols)

[]

#Creo función para categorizar valores

In [26]:
def categorizarValor(valor,a,b):
  if valor<a:
    return "1"
  elif a<=valor<=b:
    return "2"
  else:
    return "3"

#Aplico la función a 12 columnas

In [27]:
dfaux2=dfAux.copy()
columnasCategorizar=["f6","f10","f20","f30","f41","f51","f65","f72","f81","f90","f101","f110"]

for columna in columnasCategorizar:
  minimo=dfaux2[columna].min()
  maximo=dfaux2[columna].max()
  dfaux2[columna]=dfaux2[columna].apply(categorizarValor, args=(minimo+((maximo-minimo)*0.33),maximo-((maximo-minimo)*0.33)))

In [30]:
ccols = [i for i in dfaux2.columns if not i in dfaux2._get_numeric_data()]
print (ccols)

['f6', 'f10', 'f20', 'f30', 'f41', 'f51', 'f65', 'f72', 'f81', 'f90', 'f101', 'f110']

#Exporto el csv para poder trabajarlo en el proyecto

In [29]:
dfaux2.to_csv("dataframeModificado.csv")